body {
    font-family: Roboto, sans-serif;
    background-color: #131313;
}

h1 {
    color: white;
    font-family: 'Roboto';
}

h2 {
    color: steelblue;
}

p {
    color: #bdbdbd;
}

a {
    color: yellow;
}

.media-picture {
    height: 400px;
    background-image: url('/aula_08/img/img1.jpg');
    background-size: 100%;
    background-position: center;
}

.review-score {
    color: white;
    background-color: #e6bd09;
    padding: 12px;
}
